singularity {
  enabled = true
  autoMounts = true
}

params {
  // Containers
  bcftools      = 'bcftools.1.19'
  samtools      = 'samtools.1.9'
  bioconductor  = 'mahshaaban/bioconductor:3.19'
  rocker        = 'rocker/tidyverse:latest'
  plink         = 'plink.1.9'
  
  // Default params
  AF          = 0.005
  HWE         = 0
  F_MISSING   = 0.5
  N_VARS      = 50000
  window      = 50
  step        = 5
  rsquared    = 0.001
  relatedness = 0.0025
  modes       = 'clusters,noclusters'
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile
  test {
    params {
      vcf               = "input/*.variants.vcf.gz{,.tbi}"
      population        = "input/*.population.txt"
      cohorts_info      = "input/cohort.info.csv"
      fasta             = "input/assembly38.fasta{,.fai}"
      dbsnp             = "input/dbsnp.146.vcf.gz{,.tbi}"
      ld_regions        = "input/high_ld_regions.txt"
    }
  }
}
