singularity {
  enabled = true
  autoMounts = true
}

params {
  // Containers
  bcftools      = 'bcftools.1.19'
  samtools      = 'samtools.1.9'
  bioconductor  = 'mahshaaban/bioconductor:3.19'
  rocker        = 'rocker/tidyverse:latest'
  plink         = 'plink.1.9'
  
  // Default params
  MAF         = 0.0005
  HWE         = 0
  F_MISSING   = 0.8
  ExcHet      = 0
  GQ          = 0
  DP          = 0
  VAF         = 0
  N_VARS      = 500000
  N_DIMS      = 5
  window      = 5
  step        = 5
  rsquared    = 0.00001
  relatedness = 0.000025
  modes       = 'clusters,noclusters,mds'
  common      = true
  fill        = false
  prune       = true
  fix         = true
  remove      = true
  update      = true
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile
  test {
    params {
      cohorts           = "input/cohort.info.csv"
      fasta             = "input/assembly38.fasta{,.fai}"
      dbsnp             = "input/dbsnp.146.vcf.gz{,.tbi}"
      ld_regions        = "input/high_ld_regions.txt"
      snplist           = "input/snplist.txt"
    }
  }
}
