singularity {
  enabled = true
  autoMounts = true
}

params {
  // Containers
  bcftools      = 'bcftools.1.19'
  samtools      = 'samtools.1.9'
  bioconductor  = 'mahshaaban/bioconductor:3.19'
  rocker        = 'rocker/tidyverse:latest'
  plink         = 'plink.1.9'
  
  // Default params
  vcf   = "$TOY_DATASETS/wes-sarek/pheno.variants.vcf.gz{,.tbi}"
  cases = "$TOY_DATASETS/wes-sarek/pheno.cases.txt"
  cohorts_info = "$TOY_DATASETS/wes-sarek/cohorts_info.csv"
  fasta = "$REFS/iGenomes/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
  dbsnp = "$REFS/iGenomes/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz{,.tbi}"
  AF          = 0
  HWE         = 0
  F_MISSING   = 1
  window      = 50
  step        = 5
  rsquared    = 0.99
  relatedness = 0.0025
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile (Same as default params)
  test {
    params {
      vcf               = "input/*.variants.vcf.gz{,.tbi}"
      cases             = "input/*.cases.txt"
      cohorts_info      = "input/cohorts_info.csv"
      fasta             = "input/assembly38.fasta{,.fai}"
      dbsnp             = "input/dbsnp.146.vcf.gz{,.tbi}"
      ld_regions        = "input/ld_regions.txt"
      populations       = "input/populations.txt"
      populations_id    = "input/populations_id.txt"
      populations_info  = "input/populations_info.txt"
      clusters          = "input/clusters.txt"
    }
  }

  // Test on gh-action
  gha {
    params {
      vcf               = "input/*.variants.vcf.gz{,.tbi}"
      cases             = "input/*.cases.txt"
      cohorts_info      = "input/cohorts_info.csv"
      fasta             = "input/assembly38.fasta{,.fai}"
      dbsnp             = "input/dbsnp.146.vcf.gz{,.tbi}"
      ld_regions        = "input/ld_regions.txt"
      populations       = "input/populations.txt"
      populations_id    = "input/populations_id.txt"
      populations_info  = "input/populations_info.txt"
      clusters          = "input/clusters.txt"
    }
  }
}
